body
{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #ED6A5A;
}

.box
{
	border-radius: 3px;
	width: 450px;
	height: auto;
	position: relative;
	text-align: center;
	padding: 20px;
    border-radius: 10px;
    box-shadow:15px 15px 25px #141414d8;
	background-color: #F5F7F3;
	overflow: auto;
	left: 400px;
    top: 200px;
}

header{
    position:relative;
    left: 450px;
    top: 150px;
    color: #F5F7F3;
	
}

.quote
{
    color: #ED6A5A;
    font-size: 1em;
}

.author
{
	text-align: right;
	padding-bottom: 20px;
	color: #ED6A5A;
}

#newQuote
{
	color: #F5F7F3;
	float: right;
	
	border-radius:3px;
    cursor:pointer;
    box-shadow:10px 10px 15px #141414d8;
    
    font-size: 0.85em;
    padding: 0.3em;
    height: 40px;
    width: 130px;
    background-color: #ED6A5A;
}

.btn{
    margin: 25px;
    padding-right: 30%;
}
.name
{
	font-size: 0.85em;
	margin-left: 48%;
	color: #F5F7F3;
}